<%- include(`heading`) -%>

<div class="info">

    <h1>  <%= country %> <img src="http://openweathermap.org/img/w/<%= image %>.png" alt="icon"> </h1>

    <div class="sect">

        <div class="box1 allbox">
            <p> <%= temper %>°F </p>
        </div>

        <div class="box2 allbox">
            <p> <%= illus %> </p>
        </div>

        <div class="box3 allbox">
            <p> <%= countryHome %> </p>
        </div>

    </div>






</div>

<%- include(`footer`) -%>