<%- include(`heading`) -%>

<div class="info">

    <h1> The country you pick is <%= country %> </h1>
    <p> The situation in the <%= country %> is <%= illus %> <img src="http://openweathermap.org/img/w/<%= image %>.png" alt=""> </p>

</div>

<%- include(`footer`) -%>